body {
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: white;
}

.navbar {
    background-color: #333;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em;
    color: #E6C9A8;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
}

.navbar nav ul li {
    margin: 0 20px;
}

.navbar nav ul li a {
    color: #E6C9A8;
    text-decoration: none;
}

.navbar nav ul li a:hover {
    color: #fff;
}

main {
    padding: 0 20px;
}

.hero {
    background-color: #444;
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2.5em;
    color: #E6C9A8;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.project {
    width: 45%;
    margin-bottom: 30px;
}

img {
    width: 300px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: 10px 0;
}

footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    color: white;
}

.personal-websites {
    margin-top: 30px;
    text-align: center;
}

.personal-websites h3 {
    font-size: 2em;
    color: #E6C9A8;
    margin-bottom: 20px;
}

.personal-websites a {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.personal-websites img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}
